name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
            2.1.x
            3.1.x
            5.0.x
            6.0.x
            7.0.x
            8.0.x
            9.0.x
        
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --no-restore --configuration Release

    - name: Test
      run: dotnet test --no-restore --configuration Release --logger:"console;verbosity=normal" --collect:"XPlat Code Coverage" --settings coverlet.runsettings

    - name: Code Coverage
      uses: codecov/codecov-action@v5
      with:
          token: ${{ secrets.CODECOV_TOKEN }}

    - name: Run benchmark (net10.0)
      run: dotnet run --framework net10.0 --configuration Release --exporters json --filter '*'
      working-directory: Benchmarks

    - name: Run benchmark (net9.0)
      run: dotnet run --framework net9.0 --configuration Release --exporters json --filter '*'
      working-directory: Benchmarks

    - name: Run benchmark (net8.0)
      run: dotnet run --framework net8.0 --configuration Release --exporters json --filter '*'
      working-directory: Benchmarks
      
    - name: Run benchmark (net6.0)
      run: dotnet run --framework net6.0 --configuration Release --exporters json --filter '*'
      working-directory: Benchmarks

    - name: Run benchmark (net5.0)
      run: dotnet run --framework net5.0 --configuration Release --exporters json --filter '*'
      working-directory: BenchmarksLegacy

    - name: Run benchmark (netcoreapp3.1)
      run: dotnet run --framework netcoreapp3.1 --configuration Release --exporters json --filter '*'
      working-directory: BenchmarksLegacy
      
    - name: Run benchmark (net481)
      run: dotnet run --framework net481 --configuration Release --exporters json --filter '*'
      working-directory: BenchmarksLegacy